/* shared style */
.fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    /* font-weight: 700; */
    font-style: normal;
    font-variation-settings: "width" 100;
}
body{
    background-color: rgba(241, 241, 243, 1);
}
main {
    margin: 0px 60px 0px 60px;
    
}

.title-text {
    font-size: 35px;
}

.primary-text {
    font-weight: semi-bold;
    color: rgba(14, 14, 14, 0.5);
}

.primary-bg {
    background-color: rgba(198, 228, 214, 1);
}

.secondary-bg {
    background-color: rgba(84, 144, 245, 0.2);
}

.rare-bg {
    background-color: rgba(247, 235, 207, 1);
}

.primary-button {
    cursor: pointer;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
}

.secondary-button {
    cursor: pointer;
    background-color: rgba(84, 144, 245, 1);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
}

.rare-button {
    cursor: pointer;
    background-color: rgba(255, 194, 57, 1);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 11px 20px;
}
.selection-button{
    cursor: pointer;
    background-color: rgba(198, 228, 214, 1);
    font-weight: 600;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
}

/* header section */
header {
    margin: 0 60px 24px 60px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 160px 24px 160px; */
}

nav ul {

    list-style: none;

}

nav ul li button {
    font-weight: semi-bold;
    color: rgba(0, 106, 80, 1);
    background-color: transparent;
    border: solid 1px rgba(0, 106, 80, 1);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
}

/* banner section */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    padding: 30px;
    border-radius: 24px;
    background-color: #C6E4D6;
}

.banner-pic {
    height: 400px;
    width: 474.03px;
}

/* MAIN SECTION */
.overveiw-container {
    margin-top: 60px;

}

.overveiw-cards {
    display: flex;
    gap: 30px;
    margin-top: 32px;
}

.overview-card {
    background-color:white;
    /* box-shadow: rgba(14, 14, 14, 0.15); */
    cursor: pointer;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
}

.overview-card img {
    height: 64px;
    width: 64px;
}

/* Vision section */

.vision-container {
    margin-top: 80px;
}

.vision-cards {
    display: flex;
    gap: 30px;
    margin-top: 32px;
}

.vision-card {
    border-radius: 16px;
    padding: 24px;
}

.vision-card img {
    height: 64px;
    width: 64px;
}

/* Quote container */
.quote-container {
    margin-top: 80px;
  background-color: white;
  border-radius: 15px;
}

.quote-description {
    background-image: url('./assets/quote-bg.png');
    background-size: 64px;
    background-position: 24px 23px;
    background-repeat: no-repeat;
    padding: 48px 24px;
}

.quote-description h5 {
    margin-bottom: 3px;
}

/* poll section */
.poll-container {
    margin: 80px 0 80px 0;
}

.poll-option {
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgb(244, 240, 240,0.6);
    padding: 32px;
    border-radius: 15px;
}

table {
    border-radius: 15px;
    border-collapse: collapse;
    width: 100%;
}

.option-title {
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    padding: 24px;
    margin: 0;

}

ul li {
    list-style: none;
    font-size: medium;
    font-weight: bold;
}

table td {
    border: 1px solid rgb(216, 212, 212);
    padding: 24px;
}
.selection{
    text-align: center;
}
/* New Section */

.news-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
    padding: 48px;
    border-radius: 15px;
}   
.news-cover img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news img{
    width: 134px;
    height: 40px;
}

.news-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 32px;
    margin-top: 32px;
    padding: 48px;
    background-color: white;
}

.news-container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 32px;
    margin-top: 32px;
    padding: 48px;
    background-color: white;
}