/* shared style */
.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  /* font-weight: 700; */
  font-style: normal;
  font-variation-settings: "width" 100;
}

main{
    margin: 0px 60px 0px 60px;
}
.primary-button{
    cursor: pointer;
    background-color: #006A50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: semi-bold;
    padding: 10px;
}

.primary-text{
    font-weight: semi-bold;
    color:#0E0E0E;
}

/* header section */
header{
   margin: 0 60px 24px 60px;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 160px 24px 160px; */
}

nav ul{
    
    list-style: none;
   
}
nav ul li button {
    font-weight: semi-bold;
    color: rgba(0, 106, 80, 1);
    background-color: transparent;
    border: solid 1px rgba(0, 106, 80, 1);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;  
}
    
/* banner section */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    padding: 30px;
    border-radius: 24px;
background-color: #C6E4D6;
}
.banner-pic{
    height: 400px;
    width: 474.03px;
}

/* MAIN SECTION */
.overveiw-container{
    margin-top: 60px;
    
}
.overveiw-cards{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.overveiw-card{
    background-color: #F5F5F5;
    border: 1px solid;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    text-align: center;
}